<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- style-css -->
     <link rel="stylesheet" href="../public/scss/style.css">
     <!-- script -->
     <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
     <!-- fontawasome -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Contact</title>
</head>
<body>
    <nav>
        <ul class="list">
            <li class="list-item"><a href="index.html"><i class="fa-solid fa-house"></i>
                Home</a></li>
            <li class="list-item"><a href="#"><i class="fa-solid fa-list"></i>
                Category</a></li>
            <li class="list-item"><a href="about.html"><i class="fa-solid fa-address-card"></i> About</a></li>
            <li class="list-item"><a href="contact.html"><i class="fa-solid fa-envelope"></i>
                Contact</a></li>
        </ul>
    </nav>
    <header>
    <div class="head">
        <h1>Lorem, ipsum.</h1>
        <p><i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos illum porro quis ea natus vel alias quibusdam ab fuga officiis?</i></p>
    </div>
    </header>

    <div class="container">
        <div class="form-group">
            
            <div class="name-group">
                <div class="input-group">
                    <label for="">Adınız :</label>
                    <input type="text" name="" id="" class="inputs-group">
                </div>
                <div class="input-group">
                    <label for="">Soyadınız :</label>
                    <input type="text" name="" id="" class="inputs-group">
                </div>
                 
            </div>
            <label for="">Email :</label>
            <input type="email" name="" id="" class="inputs-group">
            <label for="">Telefon Numarası : (İsteğe Bağlı)</label>
            <input type="tel" name="" id="" class="inputs-group">
            <label for="">Açıklama</label>
            <textarea type="text" name="" id="" class="inputs-group"></textarea>
            <br>
            <button type="submit" class="btn">Gönder</button>
        </div>
       
    </div>

    <script src="https://kit.fontawesome.com/090a716007.js" crossorigin="anonymous"></script>
</body>
</html>

